### PostgresDB ###
DB_USER=          
DB_PASSWORD=
DB_NAME=
DB_HOST=discount_db                     # This is the name of the db container
POSTGRES_DB_PORT=5432                   # Default port is 5432, but you can change it if needed

### PGAdmin ###
PGADMIN_EMAIL=
PGADMIN_PASSWORD=




## DO NOT CHANGE THESE UNLESS YOU KNOW WHAT YOU ARE DOING ###

### DBT ###
DBT_PROFILES_DIR=discount_tracker_dbt
DBT_PROJECT_DIR=discount_tracker_dbt

### UV ###
UV_LINK_MODE=copy

### GCS / Storage ###
# Set STORAGE_BACKEND=gcs for cloud runs, leave as 'local' for local dev (no GCP needed)
STORAGE_BACKEND=local
GCS_BUCKET=
GCP_PROJECT_ID=
GOOGLE_APPLICATION_CREDENTIALS=./gcp_key.json