# PostgresDB 
DB_USER=          
DB_PASSWORD=
DB_NAME=
DB_HOST=
POSTGRES_DB_PORT=

# PGAdmin
PGADMIN_EMAIL=
PGADMIN_PASSWORD=

## DO NOT CHANGE

# DBT
DBT_PROFILES_DIR=discount_tracker_dbt
DBT_PROJECT_DIR=discount_tracker_dbt

# UV
UV_LINK_MODE=copy