# Terraform GCP Credentials)
TF_VAR_gcp_project_id=
TF_VAR_gcp_region=

# Only required for local dev
# STORAGE_BACKEND=gcs set to use GCS for local dev. Default for prod is 'gcs'
GCS_BUCKET=
GCP_PROJECT_ID=
GCP_REGION=